.modal-content {
    border: inset 5px;
    border-left-color: orange;
    border-top-color: dodgerblue;
    border-bottom-color: orange;
    border-right-color: dodgerblue;
}

h4 {
    font-weight: bold;
}

.wide {
    max-width: 800px !important;
}

.close {
    background-color: transparent;
    border: none;
    font-size: 25px;
}