@if (Display)
{
    string wideclass = "";
    if(wide)
    {
        wideclass = "wide";
    }
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tableindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block">
        <div class="modal-dialog @wideclass" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>@Title</h4>
                    <button class="close"@onclick="OnCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: scroll; max-height: 550px">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @onclick="OnCancel">Close</button>
                    <button class="btn btn-primary" @onclick="OnConfirm">Confirm</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = "Confirm";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public bool wide { get; set; }
    private bool Display { get; set; }
    public void ShowModal() => Display = true;
    public void HideModal() => Display = false;
}